*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.input {
  border: none;
  outline: none;
  width: 350px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
  text-decoration: none;
}
::-webkit-scrollbar-track {
  border: none;
  outline: none;
  width: 350px;
}


.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background: #76323f !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  width: 350px;
  padding: 5px;
  border: none;
  font-size: 15px;
  outline: none;
  margin-top: 8px;
}

@media screen and (max-width: 600px){
  .search-bar{
    width: 200px;
  }
  .react-player {
    height: 45vh !important;
  }
}